
.first_img{
    background-image: linear-gradient(180deg, #fff 81%, rgba(35, 128, 241, 0.45) 19%);
    background-clip: padding-box;
    padding: 4px;
}

.last_img{
    background-image: linear-gradient(180deg, #fff 48%, rgba(35, 128, 241, 0.45) 49%);
    background-clip: padding-box;
    padding: 4px;
}
