html, body {
  min-height: 100vh;
}

body {
  h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: Calibri;
  }
}

.navbar, .main, .footer {
  font-size: 18px;
  letter-spacing: 1px;
}

.main {
  &.auth {
    background: lightgrey;

    .auth {
      height: 100vh;
    }
  }

  .auth {
    height: calc(100vh - 200px);

    .card_style {
      max-width: 500px;
      width: 100%;
    }
  }

  h1.title {
    font: 500 26px/26px Calibri;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

