html, body{
  min-height: 100vh;
}

body{

}

.navbar, .main, .footer{
  font-size: 16px;
  letter-spacing: 1px;
}

.main{
  &.auth{
    background: lightgrey;
    .auth{
      height: 100vh;
    }
  }
  .auth{
    height: calc(100vh - 200px);
    .card_style{
      max-width: 500px;
      width: 100%;
    }
  }
}

